:root {
    --white: #FFFFFF;
    --dark: #131313;
    --red: #FF4E4E;
}


body {
    margin: 0;
    padding: 0;
}

.vertical-nav {
    position: fixed; 
    width: 109px; 
    height: 100vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }

  .nav-logo {

    margin-bottom: 38px;
  }

  .nav-icons {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }