:root {
    --white: #FFFFFF;
    --dark: #131313;
    --red: #FF4E4E;
    --dark-grey: #232323;

    color: var(--white);
}


body {
    margin: 0;
    padding: 0;
}

.two-column-layout {
    display: flex;
    min-height: 100vh;
}

.vertical-nav {
    position: sticky; 
    background-color: var(--dark);
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-logo img {

    margin-bottom: 38px;
    width: 40px;

  }

  .nav-icons {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    width: 18px;
  }

  .content {
    width: 100%;
    background-color: var(--dark-grey);
  }

.header-container {
    background-image: url(./images/hero-container.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 554px;
    margin-bottom: 81px;
}

  .movie-name {
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0 0 10px 0; 
}

.info {
    font-size: 20px;
    margin: 0 0 20px 0;
    font-family: 'Work Sans';
    font-weight: 400;
    line-height: 24px;
    font-size: 12px;
    color: #747474;
}

.plot {
    font-size: 18px;
    max-width: 500px; 
    margin: 0 0 24px 0; 
    font-family: 'Work Sans';
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    max-width: 386px;
}

.director-info {
    font-family: 'Work Sans';
    font-size: 12px;
    
}

.cast {
    font-family: 'Work Sans';
    font-size: 12px;
    margin-bottom: 49px;
}

.text {
    margin-left: 45px;
    margin-top: 25px;
}

.watch-now {
    background-color: transparent;
    color:#FF4E4E;
    font-family: 'Work Sans';
    font-weight: 300;
    border: 0.5px solid var(--red);
    border-radius: 40px;
    padding: 17px 28px;
    width: 155px;
}

.fa-play {
    margin-right: 7.4px;
}

.movies {
    font-family: 'Work Sans';
    font-size: 20px;
    margin: 0 50px;
    margin-bottom: 81px;
}

.movies p {
   margin-top: 0;
   margin-bottom: 40px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: clamp(8px, 2vw, 18px)
}

.movies-grid img {
    width: 100%;
}

