:root {
    --white: #FFFFFF;
    --dark: #131313;
    --red: #FF4E4E;

    color: var(--white);
}


body {
    margin: 0;
    padding: 0;
}

.two-column-layout {
    display: flex;
    min-height: 100vh;
}

.vertical-nav {
    position: sticky; 
    background-color: var(--dark);
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-logo img {

    margin-bottom: 38px;
    width: 40px;
  }

  .nav-icons {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    width: 18px;
  }

  .header-container {
    background-image: url(./images/hero-container.png);
    background-repeat: no-repeat;
    background-size: cover;  /* Ensures the image covers the full container */
    background-position: center center;  /* Centers the image */
    width: 100%;
    height: 100vh;  /* Full screen height */
    display: flex;
    flex-direction: column;  /* Stacks the text vertically */
    justify-content: center;  /* Centers content vertically */
    align-items: flex-start;  /* Aligns text to the left */
    padding: 50px;
    position: relative;
  }

  .hero-container {
    display: flex;
    flex-direction: column;  /* Ensures text is stacked vertically */
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }

  .movie-name {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0 0 10px 0; /* Adds spacing below */
}

.info {
    font-size: 20px;
    margin: 0 0 20px 0; /* Adds spacing below */
}

.plot {
    font-size: 18px;
    max-width: 500px; /* Limits width for better readability */
    margin: 0 0 20px 0; /* Adds spacing below */
}

.director-info {
    font-size: 18px;
    font-weight: bold;
}